<div class="p-grid">
    <div class="p-col">
        <img src="https://i.picsum.photos/id/550/200/200.jpg?hmac=1cWp9LPVpvHr7sCXaCMeMnsIHNCLfqPwnIkIA0GUzcM"
            style="padding: 10px;width: 100%;height: 100%;">
    </div>
    <div class="p-col">
        <div class="p-col">
            <h2>ABOUT US</h2>
            <hr color="green" style="width: 25%;align-items: left;margin: 2px;">
            <h4 style="font-family: system-ui;color: darkslategrey;">
                Extrafast is a creative design studio founded in 1999. We specialize in creating custom Web Design &
                Development,
                Graphic Design, Brand Development, Online Marketing and SEO as our core services. Our team works
                flawlessly
                and timely
                to create a website of your dream in a time that meets your deadlines.
            </h4>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <h3><i class="pi pi-book" style="font-size: 24px;color: coral;padding: 5px;"></i>AFFORDABLE SERVICE</h3>
                <h4 style="font-family: system-ui;color: darkslategrey;">
                    Extrafast provides reliable and affordable services to help you quickly establish a perfect website.
                </h4>
            </div>
            <div class="p-col">
                <h3><i class="pi pi-users" style="font-size: 24px;color: coral;padding: 5px;"></i>EXPERIENCED TEAM</h3>
                <h4 style="font-family: system-ui;color: darkslategrey;">
                    We are a team of top industry leaders with years of experience in web design and development.
                </h4>
            </div>
        </div>
    </div>
</div>